.Framework {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.Framework-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
}

.Framework-logo {
  height: 75px;
}

.Framework-detail {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

.Framework-detail-name {
  margin-bottom: 5px;
}

.Framework-detail-exp {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
