.App {
}

.App-logo {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  background-color: #D8BFD8;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
}

.App-logo-text {
  font-weight: bold;
  font-size: 36px;
  align-self: flex-end;
  color: #000;
  margin: 0 10px 2.5px 0;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: #FFF;
}

.App-header-text {
  height: 80px;
  display: flex;
  font-size: .9rem;
  margin-left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.App-header-link,
.App-header-link:hover,
.App-header-link:visited,
.App-header-link:focus {
  text-decoration: none;
  color: #FFF;
}

.App-header-link:hover {
  text-decoration: none;
  color: #D8BFD8;
}

.App-header-subtext {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.App-header-nav {
  width: 50%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-self: center;
  margin-left: auto;
  margin-right: 40px;
}

.App-header-icon {
  margin: 0 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 700px) {
  .App-header-text {
    display: none;
  }
}
